// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-recipes {
  background-color: #78CBFF;
  width: 60%;
  border-radius: 15px;
  margin-right: 0;
  padding-left: 20px;
}


aside {
  padding-left: 3em;
}
