<!DOCTYPE html>
<html>
<head>
  <title>Chowsource</title>
  <%= render 'layouts/rails_defaults' %>
  <%= render 'layouts/shims' %>
  </head>
<body>
  <%= render 'layouts/headers' %>
  
<%= yield %>

</body>
</html>
